extends ../layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/cart.css")

block content 
    main
        ul.cart__item-list 
            each p in products              
                li.cart__item 
                    h1 #{p.productId.title} 
                    h2 Quantity: #{p.quantity}
                    h2 Price: $#{p.price}
        div.centered
            h2 Total: #{totalSum}
            button.btn#order-btn ORDER
            script(src="https://js.stripe.com/v3/")
            script.
                var stripe = Stripe('pk_test_51JIRBSSBbMnTWyeyAtBkvM0Ow8pW9RcHxE8J6Q0nDlINI5Zo9aOjG8CvJfC7FNgwDDTIwVwoVQ3WblawQCAZ4ws500t4zMF4RJ');
                var orderBtn = document.getElementById('order-btn');
                console.log('#{sessionId}');
                orderBtn.addEventListener('click', function() {
                    stripe.redirectToCheckout({
                        sessionId: '#{sessionId}'
                    });
                });